<p>Hallo <%= @resource.email %>!</p>

<p>für Deinen Zugang wurde ein neues Kennwort angefordert. Um Das Kennwort zu ändern, rufe bitte den folgenden Link auf.</p>

<p><%= link_to 'Link', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


